<!DOCTYPE html>

<h2>Create Edit</h2>

<%= @article.title%>
<%= @article.content%>

<form method="post" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input id="title" type="text" name="title">
  <input id="content" type="text" name="content">
  <input type="submit" value="Submit Change">
</form>