<h1>Edit Article</h1>
<form method="post" action="/articles/<%= @article.id %>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Title: <input type="text" id="title" name="article[title]" value="<%= @article.title %>"></p>
  <p>Content: <input type="text" id="content" name="article[content]" value="<%= @article.content %>"></p>
  <input type="submit">
</form>
