<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Articles</title>
  </head>
  <body>

<h1>Heros</h1>
<% @articles.each do |a| %>
  <div class="hero">
    <p>Hero Name: <%= a["title"] %></p><br>
    <p>Hero Power: <%= a["content"] %></p><br>

  </div><br>
<% end %>
</body>
</html>
