<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create New Article</title>
  </head>
  <body>
    <h1>Write your article here!</h1>
    <form action="/articles" method="post">
      <label for="title">Article Title: </label><br>
      <input type="text" id="title" name="title"><br>
      <label for="content">Article Content: </label>
      <textarea name="content" id="content" rows="5" cols="40"></textarea>
      <input id ="submit" type="submit" value="Submit">
    </form>
  </body>
</html>
