<form action="/articles" method="post">
  <label for="title"></label>
  <p>Title: <input id= "title" type="text" name="title"></p>

  <label for="content"></label>
  <p>Content: <input id= "content" type="text" name="content"></p>
  <input type="submit" id="submit" value="submit">
</form>
