<!DOCTYPE html>

<h2>Delete Article</h2>

<h3>Title:</h3><%=@article.title%>
<h3>Content:</h3><%=@article.content%>

<form method="post" action="/articles/<%= @article.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Article">
</form>